body{
  margin: 0;
}

.header {
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: rgba(6, 17, 36, 0.7);
  font-weight: 100;
  text-align: center;
  background-color: rgba(95, 152, 255,0.3);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.profile {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.link{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: sans-serif;

}
a{
  text-decoration: none;
  color: rgb(27, 46, 105);
  text-shadow: 2px 2px 1px rgba(95, 152, 255,0.4);
}
a:hover{
  color: rgba(95, 152, 255,0.7);
}


p{
  display:flex;
  padding: 5px;
}

.footer{
  font-size: 20px;
  color: rgb(27, 46, 105);;
  display: flex;
  padding: 20px;
  flex-wrap: nowrap;
  font-family: sans-serif;
  background-color:rgba(95, 152, 255,0.3);
}
li.media{
  color: rgba(78, 98, 231, 0.7);
  display:flex;
  padding-right: auto;

}
